<app-loading-indicator></app-loading-indicator>

<div *ngFor="let counter of counters | async">
  <h3>
    <a [title]="counter.id + ' details'" [routerLink]="['/devices', counter.id]">{{ counter.id }}</a>&nbsp;
    <span [class.online]="isOnline(counter)" [class.offline]="!isOnline(counter)">{{ isOnlineMsg(counter) }}</span>&nbsp;

    <mat-icon [matBadgeHidden]="calcWarnings(counter) === 0"  matBadge="{{calcWarnings(counter)}}" matBadgeColor="warn"><fa-icon *ngIf="calcWarnings(counter) > 0" matBadgeColor="warn" [icon]="faExclamationTriangle"></fa-icon></mat-icon>
      
  </h3>
  

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show Summary...
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><app-device-details   [counter]="counter">
    </app-device-details></p>
  </mat-expansion-panel>

  <!-- mat exp. panel API offers @Output opened event (EventEmiter)-->
  <mat-expansion-panel (opened)="openPanel(counter)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show graph...
      </mat-panel-title>
      <mat-panel-description>Last month of health data as graph</mat-panel-description>
    </mat-expansion-panel-header>
    <p><app-line-chart  *ngIf="selectedDevice == counter"[counter]="counter"></app-line-chart></p>
  </mat-expansion-panel>
</div>