<canvas id="barChart" #barChartComp baseChart [type]="chartType" [datasets]="chartData" [options]="chartOptions()"
  [legend]=true [plugins]=[] (chartClick)="chartClicked($event)">
  Loading...
</canvas>

<div class="flex">
  <label id="example-radio-group-label">Select time range</label>
  <label>Sum visible Data: {{visibleSum}}</label>
</div>

<mat-radio-group
class="bar-chart-radio-group"
[(ngModel)]="selectedTimeRange"
(ngModelChange)="onTimeRangeChange()">
  <mat-radio-button class="bar-chart-radio-button" value="thisMonth" [checked]="true">This month</mat-radio-button>
  <mat-radio-button class="bar-chart-radio-button" value="+1">Last month</mat-radio-button>
  <mat-radio-button class="bar-chart-radio-button" value="+2">Two months back</mat-radio-button>
  <mat-radio-button class="bar-chart-radio-button" value="year">Whole Year</mat-radio-button>
  <mat-radio-button class="bar-chart-radio-button" value="lastYear">Last Year</mat-radio-button>
</mat-radio-group>

<app-loading-indicator></app-loading-indicator>
