<ng-container *ngIf="checkRole()">

    <div class="flex-container">
        <div class="flex-items">
            <h2 *ngIf="counter">Device Details for: {{counter.id}}</h2>
            <app-loading-indicator></app-loading-indicator>
            <app-device-details *ngIf="counter" [counter]="counter"></app-device-details>
        </div>
        <div class="flex-items"><app-bar-chart *ngIf="counter" [counter]="counter"></app-bar-chart></div>
        <div class="flex-items"><app-line-chart *ngIf="counter" [counter]="counter"></app-line-chart></div>
     </div>
</ng-container>
