<table *ngIf="counter">
    <tbody>
        <tr>
            <td>Sum Today</td>
            <td>{{counter.sumToday}}</td>
        </tr>
        <tr>
            <td>Sum last 24h</td>
            <td>{{counter.sumLast24h}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{counter.status}}</td>
        </tr>
        <tr>
            <td>Battery level</td>
            <td>{{counter.batteryLevel}} %</td>
        </tr>
        <tr>
            <td [class.error]="checkBatteryVoltage(counter.batteryVoltage)">Battery Voltage</td>
            <td [class.error]="checkBatteryVoltage(counter.batteryVoltage)">{{counter.batteryVoltage}} Volt</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{counter.temperature}} °C</td>
        </tr>
        <tr >
            <td [class.error]="checkHumidity(counter.humidity)">Humidity</td>
            <td [class.error]="checkHumidity(counter.humidity)">{{counter.humidity}} %</td>
        </tr>
        <tr>
            <td>Receiving Gateways</td>
            <td>{{countGateways(counter)}} <a *ngIf="countGateways(counter) > 0" (click)="openDialog(counter)">&nbsp;Show details...</a></td>
        </tr>
        <tr>
            <td>Last message</td>
            <td>{{counter.timestampLastMsg | date : 'dd.MM.yyyy  HH:mm'}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td><a href="{{counter.location}}" target="_blank">Show in map...</a></td>
        </tr>
        <tr>
            <td>Software Version</td>
            <td>{{counter.swVersion}}</td>
        </tr>
        <tr>
            <td>Hardware Version</td>
            <td>{{counter.hwVersion}}</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="{{firebaseUrl}}" target="_blank">
        Open raw data in GCP console.
    </a>
</p>
