<p *ngIf="counter">
<table>
    <tbody>
        <tr>
            <td>Sum Today</td>
            <td>{{counter.sumToday}}</td>
        </tr>
        <tr>
            <td>Sum last 24h</td>
            <td>{{counter.sumLast24h}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{counter.status}}</td>
        </tr>
        <tr>
            <td>Battery level</td>
            <td>{{counter.battery}}</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{counter.temperature}}</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{counter.humidity}}</td>
        </tr>
        <tr>
            <td>Receiving Gateways</td>
            <td>{{counter.gateways}}</td>
        </tr>
        <tr>
            <td>Last message</td>
            <td>{{counter.timestampLastMsg | date : 'dd.MM.yyyy  HH:mm'}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{counter.location}}</td>
        </tr>
    </tbody>
</table>